<div class="col-md-12">
  <div class="page-header">
    <h2>Listing Assignments <%= link_to "search", assignments_search_path, class: "pull-right" %></h2>
  </div>

<script> 
  $(document).ready(function(){
   $('#assignmentTable').DataTable();
});

</script>

<%= render 'table' %>

<br>

<%= link_to 'New Assignment', new_assignment_path, class: "btn btn-primary" %>
</div>