<div class="col-md-8">
  <div class="page-header">
    <h2><%= @student_source.name %></h2>
  </div>

<%= link_to 'Edit', edit_student_source_path(@student_source) %> |
<%= link_to 'Back', student_sources_path %>
</div>