<div class="row">
	<div class="page-header">
		<h2>Enrolled Students</h2>
	</div>

	<% data = {} 

		StudentSource.all.each do |source| 
			data[source.name] = source.students.where('student_type = ?', "enrolled").size
		end 

	%>
	
	<div class="col-md-5">

	<%= pie_chart(data) %>

	</div>

	<div class="col-md-7">
	<%= column_chart(data) %>

	</div>
</div>