<div class="row">

	<div class="page-header">
		<h2>Income by Month <small> 2015</small></h2>
	</div>
	<% data = {} 
		income = 0
		@payments_by_month_2015.each do |month,payments|
			payments.each {|payment| income += payment.payment_amount}
			data[month.strftime("%B")] = income
		end	
	%>
	<%= column_chart(data) %>

	<div class="page-header">
		<h2>Income by Month <small> 2016</small></h2>
	</div>
	<% data = {} 
		income = 0
		@payments_by_month_2016.each do |month,payments|
			payments.each {|payment| income += payment.payment_amount}
			data[month.strftime("%B")] = income
		end	
	%>
	<%= column_chart(data) %>


</div>
