<div class="col-md-8">
  <div class="page-header">
    <h2><%= @company_source.name %></h2>
  </div>


<%= link_to 'Edit', edit_company_source_path(@company_source) %> |
<%= link_to 'Back', company_sources_path %>
</div>