<div class="col-md-8">
  <div class="page-header">
    <h2><%= @technology_category.name %></h2>
  </div>


<%= link_to 'Edit', edit_technology_category_path(@technology_category) %> |
<%= link_to 'Back', technology_categories_path %>
</div>